@import "partials/variables";
@import "partials/header";
@import "partials/hero";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  border-top: 5px solid $violet;
  border-bottom: 5px solid $violet;
}
