#fav_content {
    padding-top: 170px;
    .fav_gallery {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        .result_container_fav {
            position: relative;
            margin: 20px;
            @extend %hover;
            .gif_result {
                width: 260px;
                height: 200px;
            }
        }
    }

    .content_title {
        text-align: center;
        .content_text {
            color: #572ee5;
            @extend %montserrat-bold;
            font-size: 25px;
            @media (min-width: 700px) {
                font-size: 35px;
            }
        }
        .btn_back {
            @extend %montserrat-bold;
            color: $violet;
            padding: 8px 16px;
            border: 1px solid $violet;
            border-radius: 25px;
            display: block;
            width: 127px;
            text-align: center;
            margin: 50px auto;
            transition: 0.5s;
            &:hover {
                color: white;
                background-color: $violet;
            }
        }
    }
}
