#content {
    padding-top: 170px;
    .content_title {
        text-align: center;
        .content_text {
            color: #572ee5;
            @extend %montserrat-bold;
            font-size: 25px;
            @media (min-width: 700px) {
                font-size: 35px;
            }
        }
        .btn_back {
            @extend %montserrat-bold;
            color: $violet;
            padding: 8px 16px;
            border: 1px solid $violet;
            border-radius: 25px;
            display: block;
            width: 127px;
            text-align: center;
            margin: 50px auto;
            transition: 0.5s;
            &:hover {
                color: white;
                background-color: $violet;
            }
        }
    }
}
