.header__container {
    #header {
        transition: 1s;
        position: fixed;
        border-top: 5px solid $violet;
        width: 100%;
        max-height: 90px;
        background-color: white;
        body.darkMode & {
            transition: 1s;
            background-color: $light-grey;
            border-top: 5px solid black;
        }
        padding: 2% 10%;
        z-index: 99;
        transition: 0.7s;
        .header__logo {
            width: 3rem;
            cursor: pointer;
            transition: 0.5s;
            &:hover {
                transition: 0.5s;
                transform: scale(1.1);
            }
        }
        .header__menu {
            float: right;
            .menu__burguer {
                cursor: pointer;
                margin-top: 100%;
            }

            .menu__ul {
                transition: 1s;
                @extend %montserrat-bold;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 100vh;
                text-align: center;
                background-color: transparentize($violet, 0.1);
                body.darkMode & {
                    transition: 1s;
                    background-color: black;
                }
                padding: 5% 0;
                z-index: 2;

                li {
                    padding: 4% 0;
                    a {
                        color: white;
                    }
                }
                .li_hr {
                    list-style: none;
                    width: 10%;
                    margin: 0 auto;
                    height: 1px;
                    padding: 0;
                    border: 1px solid white;
                    body.darkMode & {
                        border: 1px solid $light-grey;
                    }
                }
            }
        }
    }
}

@media (min-width: 800px) {
    .header__container {
        #header {
            transition: 1s;
            .header__logo {
                width: 3.5rem;
            }
            .header__menu {
                width: 90%;
                min-width: 500px;

                .menu__burguer {
                    display: none;
                }
                .menu__ul {
                    position: relative;
                    height: fit-content;
                    display: flex;
                    list-style: none;
                    justify-content: flex-end;
                    align-content: center;
                    background-color: white;
                    transition: 1s;
                    body.darkMode & {
                        transition: 1s;
                        background-color: $light-grey;
                    }
                    padding: 0;

                    .li_hr {
                        display: none;
                    }

                    li {
                        padding: 0;
                        height: 50px;
                        line-height: 50px;
                        margin-right: 50px;

                        a {
                            color: $violet;
                            text-transform: uppercase;
                            font-size: 13px;
                            border-bottom: 2px solid white;
                            transition: 0.5s;
                            body.darkMode & {
                                color: white;
                                border-bottom: 2px solid $light-grey;
                                &:hover {
                                    border-bottom: 2px solid $aqua;
                                }
                            }
                            &:hover {
                                border-bottom: 2px solid $aqua;
                            }
                            &:active {
                                color: #9cafc3;
                            }
                        }
                        .header__search {
                            padding: 0 1.25rem;
                            max-width: 30rem;
                            margin: 0 auto;
                            .header_search__container {
                                position: relative;
                            }

                            input {
                                border: 1px solid $violet;
                                border-radius: 27px;
                                background-color: #fff;
                                body.darkMode & {
                                    background-color: $light-grey;
                                    border: 1px solid white;
                                    color: $grey;
                                }
                                width: 100%;
                                padding: 0.85rem 3.5rem;
                                outline: none;
                                font-size: 16px;
                            }
                            .header_search__icon {
                                position: absolute;
                                top: 50%;
                                right: 2.25rem;
                                transform: translateY(-50%);
                            }
                        }

                        .btn__menu {
                            background-image: url("../assets/button-crear-gifo.svg");

                            background-size: cover;
                            display: block;
                            height: 50px;
                            width: 50px;
                            transition: 0.6s;
                            border: none;
                            &:hover {
                                transform: rotate(180deg);
                                background-image: url("../assets/CTA-crear-gifo-hover.svg");
                                border: none;
                            }
                            &:active {
                                background-image: url("../assets/cta-crear-gifo-active.svg");
                            }
                            body.darkMode & {
                                background-image: url("../assets/CTA-crar-gifo-modo-noc.svg");
                                border: none;
                                &:hover {
                                    background-image: url("../assets/CTA-crear-gifo-hover.svg");
                                    border: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
