#content {
    padding: 0 0 0 !important;
    body.darkMode & {
        background-color: $light-grey;
    }
    .search__result {
        .result__title {
            color: $violet;
            body.darkMode & {
                color: white;
            }
            @extend %montserrat-bold;
            text-align: center;
            font-size: 25px;
            width: 30%;
            margin: 0 auto;
            padding: 25px 0;
            border-top: 1px solid #9cafc3;
        }
        .result__gallery {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
            .result_container {
                margin: 20px;
                position: relative;

                .gif_result {
                    width: 190px;
                    height: 160px;
                }
                @extend %hover;
                .gif_hover {
                    display: none;
                }
            }
            @extend %error;
        }
        .vermas {
            @extend %btn;
        }
    }
}

@media (min-width: 700px) {
    #content {
        .search__result {
            .result__title {
                font-size: 35px;
            }
            .result__gallery {
                .result_container {
                    padding: 20px;

                    .gif_result {
                        width: 260px;
                        height: 200px;
                    }
                    .gif_hover {
                        display: block;
                        position: absolute;
                        top: 20px;
                        background-color: transparentize(#572ee5, 0.3);
                        width: 260px;
                        height: 200px;
                    }
                }
            }
        }
    }
}
