/********COLORES*********/

$violet: #572ee5;
$aqua: #50e3c2;
$light-grey: #37383c;
$dark-grey: #222326;

/*********FUENTES********/

%montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
%montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
%roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
%roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
