/********COLORES*********/

$violet: #572ee5;
$aqua: #50e3c2;
$grey: #9cafc3;
$light-grey: #37383c;
$dark-grey: #222326;

/*********FUENTES********/

%montserrat-medium {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
%montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
%roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
%roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

%btn {
    @extend %montserrat-bold;
    color: $violet;

    padding: 8px 16px;
    border: 1px solid $violet;
    border-radius: 25px;
    display: block;
    width: 130px;
    text-align: center;
    margin: 50px auto;
    transition: 0.5s;

    &:hover {
        color: white;
        background-color: $violet;
    }

    body.darkMode & {
        color: $grey;
        border: 1px solid $grey;
        &:hover {
            color: $light-grey;
            background-color: white;
        }
    }
}
%error {
    .error-container {
        text-align: center;
        padding: 0px 0px 100px 0;
        .error-img {
            padding: 20px 0;
        }
        .error-text,
        p {
            margin: 0 auto;
            max-width: 400px;
            @extend %montserrat-bold;
            font-size: 22px;
            color: $aqua;
        }
    }
}
%hover {
    .gif_hover {
        display: block;
        position: absolute;
        top: 0;
        background-color: transparentize(#572ee5, 0.3);
        width: 100%;
        height: 98%;
        opacity: 0;
        transition: 0.5s;
        &:hover {
            opacity: 100;
        }
        .gif_icons {
            padding: 10px;
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            .icon {
                margin: 0 5px;
                width: 32px;
                height: 32px;
                cursor: pointer;
            }
            .iconTrash {
                background-image: url("assets/icon-trash-normal.svg");
                &:hover {
                    background-image: url("assets/icon-trash-hover.svg");
                }
            }
            .iconFav {
                background-image: url("assets/icon-fav.svg");
                &:hover {
                    background-image: url("assets/icon-fav-hover.svg");
                }
                &:active {
                    background-image: url("assets/icon-fav-active.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
            .iconDownload {
                background-image: url("assets/icon-download.svg");
                &:hover {
                    background-image: url("assets/icon-download-hover.svg");
                }
            }
            .iconBig {
                background-image: url("assets/icon-max-normal.svg");
                &:hover {
                    background-image: url("assets/icon-max-hover.svg");
                }
            }
            img {
                cursor: pointer;
            }
        }
        .gif_details {
            padding: 15px;
            position: absolute;
            left: 0;
            bottom: 0;
            .gif_user {
                @extend %roboto-regular;
                color: white;
                font-size: 15px;
            }
            .gif_title {
                @extend %roboto-black;
                color: white;
                font-size: 16px;
            }
        }
    }
}
